.top{
    max-width: 75%;
    margin: auto;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: larger;
}

.top > h1{
    font-size: 1.5em;
    color: rgb(107,114,131);
}
.top > button{
    font-size: 1em;
    color: rgb(107,114,131);
    border: 1px solid rgb(89,187,167);
    padding: 5px;
}

#teaching{
    font-size: 2em;
    color: black;
}

.outer{
    max-width: 75%;
    margin: auto;
    display: flex;
}

.outer > .form{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}

.form > .form-flex{
    display: flex;
    flex-direction: column;
}

.form > .form-flex > label{
    color: rgb(107,114,131);
    font-size: 1em;
}

.form > .form-flex > input{
    border: 1px solid ;
    margin-bottom: 10px;
}

.outer > .right{
    margin-left: 1vw;
}

.outer > .right >.first{
    margin-bottom: 20px;
}

.outer >.right >.first > a{
    font-size: 1.5em;
    color: rgb(52,152,219);
}

.outer > .right >.first >.img-and-text{
    display: flex;
    padding-right: 20vh;
}

.outer > .right >.first >.img-and-text >.img{
    width: 50%;
}

.outer > .right >.first >.img-and-text >.text{
    font-size: 1.5em;
    margin-left: 10px;
}

.outer > .right >.first >.img-and-text >.text >.subjects{
    display: flex;
}

.outer > .right >.first >.img-and-text >.text >.subjects >.sub{
    margin-right: 10px;
}

.outer > .right >.first >.img-and-text >.text >.subjects >.list-of-sub{
    color: rgb(52,152,219);
    font-size: 0.9em;
}

.end{
    display: flex;
    background-color: rgb(34,34,34);
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    padding-left: 30%;
    padding-right: 30%;
}

.end >.resources{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.7em;
    padding-top: 20px;
}

.end >.resources >p{
    border-bottom: 1px solid rgb(114,192,161);
    font-weight: bold;
}

.end >.resources >a{
    padding-bottom: 5px;
    font-size: 0.8em;
}